<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
            th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"
            rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <link href="../static/css/spring-core.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="container ">
    <nav class="nav navbar mr-0 ml-0 mt-0 align-content-between align-baseline">
        <a class="nav-item ml-0 text-decoration-none btn-outline-primary m-2" th:href="${'/'}">
            <button class="btn-outline-primary btn">Home</button></a>

        <a class="nav-item text-decoration-none  m-2" th:href="${'/product/list'}">
            <button class="btn-outline-primary btn">Products</button>
        </a>
        <a class="nav-item text-decoration-none  m-2" th:href="${'/customer/list'}">
            <button class="btn-outline-primary btn">Customers</button>
        </a>
    </nav>
</div>
<hr/>
    <div class="container">
        <h1>Welcome !!!</h1>

    </div>
</body>
</html>